language: node_js
services:
  - mongodb
addons:
  apt:
    sources:
    - mongodb-3.0-precise
    packages:
    - mongodb-org-server
node_js:
  - "4"
  - "6"
  - "8"
before_script:
  - npm install
notifications:
  email: false
